<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HooHoop - Buy Car</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>

  <body class="bgset">
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->
    
    <div class="buy_car_wrap">
      <div class="filterwrap">
        <div class="fltr_head">Filters</div>
        <div class="filters">
          <form id="former">
        
          <div id="make" class="filter_option">
            <div class="Filter_class" onclick="foption('0')"><span>Make</span><i class="fas fa-chevron-right"></i></div>
              <div class="foption_encloser">
                <div class="foption">Audi <input onclick="MakeSelector()" type="checkbox" id="foption-1" value="AUDI"> <label for="foption-1"></label></div>
                <div class="foption">BMW <input onclick="MakeSelector()" type="checkbox" id="foption-2" value="BMW"> <label for="foption-2"></label></div>
                <div class="foption">FIAT <input onclick="MakeSelector()" type="checkbox" id="foption-3" value="FIAT"> <label for="foption-3"></label></div>
                <div class="foption">FORD <input onclick="MakeSelector()" type="checkbox" id="foption-4" value="FORD"> <label for="foption-4"></label></div>
                <div class="foption">Holden <input onclick="MakeSelector()" type="checkbox" id="foption-5" value="HOLDEN"> <label for="foption-5"></label></div>
                <div class="foption">Honda <input onclick="MakeSelector()" type="checkbox" id="foption-6" value="HONDA"> <label for="foption-6"></label></div>
                <div class="foption">Hyundai <input onclick="MakeSelector()" type="checkbox" id="foption-7" value="HYUNDAI"> <label for="foption-7"></label></div>
                <div class="foption">Jaguar <input onclick="MakeSelector()" type="checkbox" id="foption-8" value="JAGUAR"> <label for="foption-8"></label></div>
                <div class="foption">Land Rover <input onclick="MakeSelector()" type="checkbox" id="foption-9" value="LAND ROVER"> <label for="foption-9"></label></div>
                <div class="foption">Mazda <input onclick="MakeSelector()" type="checkbox" id="foption-10" value="MAZDA"> <label for="foption-10"></label></div>
                <div class="foption">Mercedes Benz <input onclick="MakeSelector()" type="checkbox" id="foption-11" value="MERCEDES BENZ"> <label for="foption-11"></label></div>
                <div class="foption">Mitsubishi <input onclick="MakeSelector()" type="checkbox" id="foption-12" value="MITSUBISHI"> <label for="foption-12"></label></div>
                <div class="foption">Nissan <input onclick="MakeSelector()" type="checkbox" id="foption-13" value="NISSAN"> <label for="foption-13"></label></div>
                <div class="foption">Porsche <input onclick="MakeSelector()" type="checkbox" id="foption-14" value="PORSCHE"> <label for="foption-14"></label></div>
                <div class="foption">Subaru <input onclick="MakeSelector()" type="checkbox" id="foption-15" value="SUBARU"> <label for="foption-15"></label></div>
                <div class="foption">Suzuki <input onclick="MakeSelector()" type="checkbox" id="foption-16" value="SUZUKI"> <label for="foption-16"></label></div>
                <div class="foption">Toyota <input onclick="MakeSelector()" type="checkbox" id="foption-17" value="TOYOTA"> <label for="foption-17"></label></div>
                <div class="foption">Volkswagon <input onclick="MakeSelector()" type="checkbox" id="foption-18" value="VOLKSWAGON"> <label for="foption-18"></label></div>
                <div class="foption">Volvo <input onclick="MakeSelector()" type="checkbox" id="foption-19" value="VOLVO"> <label for="foption-19"></label></div>
              </div>
          </div>  
          <div id="model" class="filter_option">
            <div class="Filter_class" onclick="foption('1')"><span>Model</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">320I <input type="checkbox" id="foption-20" onclick="ModelSelector()" value="320I"> <label for="foption-20"></label></div>
              <div class="foption">325I <input type="checkbox" id="foption-21" onclick="ModelSelector()" value="325I"> <label for="foption-21"></label></div>
              <div class="foption">500 <input type="checkbox" id="foption-22" onclick="ModelSelector()" value="500"> <label for="foption-22"></label></div>
              <div class="foption">523I <input type="checkbox" id="foption-23" onclick="ModelSelector()" value="523I"> <label for="foption-23"></label></div>
              <div class="foption">A180 <input type="checkbox" id="foption-24" onclick="ModelSelector()" value="A180"> <label for="foption-24"></label></div>
              <div class="foption">A4 <input type="checkbox" id="foption-25" onclick="ModelSelector()" value="A4"> <label for="foption-25"></label></div>
              <div class="foption">Atenza <input type="checkbox" id="foption-26" onclick="ModelSelector()" value="ATENZA"> <label for="foption-26"></label></div>
              <div class="foption">Axela <input type="checkbox" id="foption-27" onclick="ModelSelector()" value="AXELA"> <label for="foption-27"></label></div>
              <div class="foption">Boxster <input type="checkbox" id="foption-28" onclick="ModelSelector()" value="BOXSTER"> <label for="foption-28"></label></div>
              <div class="foption">C250 <input type="checkbox" id="foption-29" onclick="ModelSelector()" value="C250"> <label for="foption-29"></label></div>
              <div class="foption">CAMRY <input type="checkbox" id="foption-30" onclick="ModelSelector()" value="CAMRY"> <label for="foption-30"></label></div>
              <div class="foption">City <input type="checkbox" id="foption-31" onclick="ModelSelector()" value="CITY"> <label for="foption-31"></label></div>
              <div class="foption">Colorado <input type="checkbox" id="foption-32" onclick="ModelSelector()" value="COLORADO"> <label for="foption-32"></label></div>
              <div class="foption">Commodore <input type="checkbox" id="foption-33" onclick="ModelSelector()" value="COMMODORE"> <label for="foption-33"></label></div>
              <div class="foption">Corolla <input type="checkbox" id="foption-34" onclick="ModelSelector()" value="COROLLA"> <label for="foption-34"></label></div>
              <div class="foption">Cross Polo <input type="checkbox" id="foption-35" onclick="ModelSelector()" value="CROSS POLO"> <label for="foption-35"></label></div>
              <div class="foption">CRV <input type="checkbox" id="foption-36" onclick="ModelSelector()" value="CRV">  <label for="foption-36"></label></div>
              <div class="foption">Demio <input type="checkbox" id="foption-37" onclick="ModelSelector()" value="DEMIO"> <label for="foption-37"></label></div>
              <div class="foption">Exiga <input type="checkbox" id="foption-38" onclick="ModelSelector()" value="EXIGA"> <label for="foption-38"></label></div>
              <div class="foption">Fit <input type="checkbox" id="foption-39" onclick="ModelSelector()" value="FIT"> <label for="foption-39"></label></div>
              <div class="foption">Fuga <input type="checkbox" id="foption-40" onclick="ModelSelector()" value="FUGA"> <label for="foption-40"></label></div>
              <div class="foption">Galant <input type="checkbox" id="foption-41" onclick="ModelSelector()" value="GALANT"> <label for="foption-41"></label></div>
              <div class="foption">Golf <input type="checkbox" id="foption-42" onclick="ModelSelector()" value="GOLF"> <label for="foption-42"></label></div>
              <div class="foption">HIGHLANDER <input type="checkbox" id="foption-43" onclick="ModelSelector()" value="HIGHLANDER"> <label for="foption-43"></label></div>
              <div class="foption">HILUX <input type="checkbox" id="foption-44" onclick="ModelSelector()" value="HILUX"> <label for="foption-44"></label></div>
              <div class="foption">Impreza <input type="checkbox" id="foption-45" onclick="ModelSelector()" value="IMPREZA"> <label for="foption-45"></label></div>
              <div class="foption">Insight G Hybrid <input type="checkbox" id="foption-46" onclick="ModelSelector()" value="INSIGHT G HYBRID"> <label for="foption-46"></label></div>
              <div class="foption">IQ <input type="checkbox" id="foption-47" onclick="ModelSelector()" value="IQ"> <label for="foption-47"></label></div>
              <div class="foption">L300 <input type="checkbox" id="foption-48" onclick="ModelSelector()" value="L300"> <label for="foption-48"></label></div>
              <div class="foption">Lafesta <input type="checkbox" id="foption-49" onclick="ModelSelector()" value="LAFESTA"> <label for="foption-49"></label></div>
              <div class="foption">Leaf <input type="checkbox" id="foption-50" onclick="ModelSelector()" value="LEAF"> <label for="foption-50"></label></div>
              <div class="foption">Legacy <input type="checkbox" id="foption-51" onclick="ModelSelector()" value="LEGACY"> <label for="foption-51"></label></div>
              <div class="foption">Lexus <input type="checkbox" id="foption-52" onclick="ModelSelector()" value="LEXUS"> <label for="foption-52"></label></div>
              <div class="foption">Mark-X <input type="checkbox" id="foption-53" onclick="ModelSelector()" value="MARK-X"> <label for="foption-53"></label></div>
              <div class="foption">Mustang <input type="checkbox" id="foption-54" onclick="ModelSelector()" value="MUSTANG"> <label for="foption-54"></label></div>
              <div class="foption">Odyssey <input type="checkbox" id="foption-55" onclick="ModelSelector()" value="ODYSSEY"> <label for="foption-55"></label></div>
              <div class="foption">Premacy <input type="checkbox" id="foption-56" onclick="ModelSelector()" value="PREMACY"> <label for="foption-56"></label></div>
              <div class="foption">Prius <input type="checkbox" id="foption-57" onclick="ModelSelector()" value="PRIUS"> <label for="foption-57"></label></div>
              <div class="foption">Q7 <input type="checkbox" id="foption-58" onclick="ModelSelector()" value="Q7"> <label for="foption-58"></label></div>
              <div class="foption">Ractis <input type="checkbox" id="foption-59" onclick="ModelSelector()" value="RACTIS"> <label for="foption-59"></label></div>
              <div class="foption">Range Rover <input type="checkbox" id="foption-60" onclick="ModelSelector()" value="RANGE ROVER"> <label for="foption-60"></label></div>
              <div class="foption">Ranger <input type="checkbox" id="foption-61" onclick="ModelSelector()" value="RANGER"> <label for="foption-61"></label></div>
              <div class="foption">Santa Fe <input type="checkbox" id="foption-62" onclick="ModelSelector()" value="SANTA FE"> <label for="foption-62"></label></div>
              <div class="foption">Stream <input type="checkbox" id="foption-63" onclick="ModelSelector()" value="STREAM"> <label for="foption-63"></label></div>
              <div class="foption">Swift <input type="checkbox" id="foption-64" onclick="ModelSelector()" value="SWIFT"> <label for="foption-64"></label></div>
              <div class="foption">SX4 <input type="checkbox" id="foption-65" onclick="ModelSelector()" value="SX4"> <label for="foption-65"></label></div>
              <div class="foption">Tilda <input type="checkbox" id="foption-66" onclick="ModelSelector()" value="TILDA"> <label for="foption-66"></label></div>
              <div class="foption">V60 <input type="checkbox" id="foption-67" onclick="ModelSelector()" value="V60"> <label for="foption-67"></label></div>
              <div class="foption">VITZ <input type="checkbox" id="foption-68" onclick="ModelSelector()" value="VITZ"> <label for="foption-68"></label></div>
              <div class="foption">Wish <input type="checkbox" id="foption-69" onclick="ModelSelector()" value="WISH"> <label for="foption-69"></label></div>
              <div class="foption">XC60 <input type="checkbox" id="foption-70" onclick="ModelSelector()" value="XC60"> <label for="foption-70"></label></div>
              <div class="foption">XJ <input type="checkbox" id="foption-71" onclick="ModelSelector()" value="XJ"> <label for="foption-71"></label></div>
              <div class="foption">Z3 <input type="checkbox" id="foption-72" onclick="ModelSelector()" value="Z3"> <label for="foption-72"></label></div>
            </div>
          </div>
          <div id="price" class="filter_option">
            <div class="Filter_class" onclick="foption('2')"><span>Price</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">$ 0 To $ 3000 <input type="checkbox" onclick="PriceSelector()" value="0-3000" id="foption-73"> <label for="foption-73"></label></div>
              <div class="foption">$ 3000 To $ 5000 <input type="checkbox"  onclick="PriceSelector()" value="3001-5000" id="foption-74"> <label for="foption-74"></label></div>
              <div class="foption">$ 5000 To $ 8000 <input type="checkbox" onclick="PriceSelector()" value="5001-8000" id="foption-75"> <label for="foption-75"></label></div>
              <div class="foption">$ 8000 To $ 10000 <input type="checkbox" onclick="PriceSelector()" value="8001-10000" id="foption-76"> <label for="foption-76"></label></div>
              <div class="foption">$ 10000 + <input type="checkbox" onclick="PriceSelector()" value="10001-9999999" id="foption-77"> <label for="foption-77"></label></div>
            </div>
          </div>
          <div id="fuel_type" class="filter_option">
            <div class="Filter_class" onclick="foption('3')"><span>Fuel Type</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
                <div class="foption">Petrol <input type="checkbox" value="Petrol" onclick="FuelSelector()" id="foption-78"> <label for="foption-78"></label></div>
                <div class="foption">Diesel <input type="checkbox" value="Diesel" onclick="FuelSelector()" id="foption-79"> <label for="foption-79"></label></div>
                <div class="foption">Electric <input type="checkbox" value="Electric" onclick="FuelSelector()" id="foption-80"> <label for="foption-80"></label></div>
                <div class="foption">Hybrid <input type="checkbox" value="Hybrid" onclick="FuelSelector()" id="foption-81"> <label for="foption-81"></label></div>
            </div>
          </div>
          <div id="kms" class="filter_option">
            <div class="Filter_class" onclick="foption('4')"><span>KMs</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
                <div class="foption">Upto 5000 Kms <input type="checkbox" onclick="kMeterSelector()" value="0-5000" id="foption-82"> <label for="foption-82"></label></div>
                <div class="foption">5000 to 15000 Kms <input type="checkbox" onclick="kMeterSelector()" value="5001-15000" id="foption-83"> <label for="foption-83"></label></div>
                <div class="foption">15000 to 30000 Kms <input type="checkbox" onclick="kMeterSelector()" value="15001-30000" id="foption-84"> <label for="foption-84"></label></div>
                <div class="foption">30000 to 50000 Kms <input type="checkbox" onclick="kMeterSelector()" value="30001-50000" id="foption-85"> <label for="foption-85"></label></div>
                <div class="foption">50000+ Kms <input type="checkbox" onclick="kMeterSelector()" value="50001-9999999" id="foption-86"> <label for="foption-86"></label></div>
            </div>
          </div>
          <div id="age" class="filter_option">
            <div class="Filter_class" onclick="foption('5')"><span>AGE</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
                <div class="foption">0 To 2 Years <input type="checkbox" onclick="AgeSelector()" value="0-2" id="foption-87"> <label for="foption-87"></label></div>
                <div class="foption">2 Years to 4 Years <input type="checkbox" onclick="AgeSelector()" value="3-4" id="foption-88"> <label for="foption-88"></label></div>
                <div class="foption">4 Years to 6 Years <input type="checkbox" onclick="AgeSelector()" value="5-6" id="foption-89"> <label for="foption-89"></label></div>
                <div class="foption">6+ Years <input type="checkbox" onclick="AgeSelector()" value="6-100" id="foption-90"> <label for="foption-90"></label></div>
              </div>
          </div>
          <div id="transmission" class="filter_option">
            <div class="Filter_class" onclick="foption('6')"><span>Transmission</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">Automatic<input type="checkbox" onclick="TransmissionSelector()" value="Automatic" id="foption-91"> <label for="foption-91"></label></div>
              <div class="foption">Manual<input type="checkbox" onclick="TransmissionSelector()" value="Manual" id="foption-92"> <label for="foption-92"></label></div>
            </div>
          </div>
          <div id="body_type" class="filter_option">
            <div class="Filter_class" onclick="foption('7')"><span>Body Type</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">Convertible<input type="checkbox" onclick="BodySelector()" value="Convertible" id="foption-93"> <label for="foption-93"></label></div>
              <div class="foption">Coupe<input type="checkbox" onclick="BodySelector()" value="Coupe" id="foption-94"> <label for="foption-94"></label></div>
              <div class="foption">Hatchback<input type="checkbox" onclick="BodySelector()" value="Hatchback" id="foption-95"> <label for="foption-95"></label></div>
              <div class="foption">Sedan<input type="checkbox" onclick="BodySelector()" value="Sedan" id="foption-96"> <label for="foption-96"></label></div>
              <div class="foption">Station Wagon<input type="checkbox" onclick="BodySelector()" value="Station Wagon" id="foption-97"> <label for="foption-97"></label></div>
              <div class="foption">RV/SUV<input type="checkbox" onclick="BodySelector()" value="RV/SV" id="foption-98"> <label for="foption-98"></label></div>
              <div class="foption">Utility<input type="checkbox" onclick="BodySelector()" value="Utility" id="foption-99"> <label for="foption-99"></label></div>
              <div class="foption">Van<input type="checkbox" onclick="BodySelector()" value="Van" id="foption-100"> <label for="foption-100"></label></div>
              <div class="foption">Other<input type="checkbox" onclick="BodySelector()" value="" id="foption-101"> <label for="foption-101"></label></div>
            </div>
          </div>
          <div id="color" class="filter_option">
            <div class="Filter_class" onclick="foption('8')"><span>Color</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">Black<input type="checkbox" onclick="ColourSelector()" id="foption-102" value="Black"> <label for="foption-102"></label></div>
              <div class="foption">Blue<input type="checkbox" onclick="ColourSelector()" id="foption-103" value="Blue"> <label for="foption-103"></label></div>
              <div class="foption">Gold<input type="checkbox" onclick="ColourSelector()" id="foption-104" value="Gold"> <label for="foption-104"></label></div>
              <div class="foption">Green<input type="checkbox" onclick="ColourSelector()" id="foption-105" value="Green"> <label for="foption-105"></label></div>
              <div class="foption">Grey<input type="checkbox" onclick="ColourSelector()" id="foption-106" value="Grey"> <label for="foption-106"></label></div>
              <div class="foption">Orange<input type="checkbox" onclick="ColourSelector()" id="foption-107" value="Orange"> <label for="foption-107"></label></div>
              <div class="foption">Red<input type="checkbox" onclick="ColourSelector()" id="foption-108" value="Red"> <label for="foption-108"></label></div>
              <div class="foption">White<input type="checkbox" onclick="ColourSelector()" id="foption-109" value="White"> <label for="foption-109"></label></div>
              <div class="foption">Other<input type="checkbox" onclick="ColourSelector()" id="foption-110" value=""> <label for="foption-110"></label></div>
            </div>
          </div>
        </form>
        </div>
      </div>
  
      <div class="contentwrap" id="listeer">
        <%-include('./Components/Loader.ejs') %>
        <div id="bc-card-wrap">
        <% for(var i = 0; i < record.length; i++) { %>
          <a href="/buy-car/<%= record[i].id%>" class="cardanchor">
          <div class="bc-card">
            <div class="cb_img"><img src="/assets/Uploads/<%= record[i].vinNum %>/exterior/Photo_1.jpg"></div>
            <div class="cb_info">
              <div class="cb_main">
                <span class="cb_name"><%= record[i].Make %></span>
                <span class="cb_price">$ <%= record[i].Price %></span>
              </div>
              <div class="cb_add_info">
                <span class="kms_info"><%= record[i].kMeters %></span>
                <span class="trans_info"><%= record[i].Transmission %></span>
                <span class="model_info"><%= record[i].Model %></span>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </div>


    <!-- Pagination -->
    <div id="Pagination" data-last="<%= endPage %>">
      <button id="previous" onclick="onPrev()">Previous</button>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <a><span class="Page_no"></span></a>
      <button id="next" onclick="onNext()">Next</button>
    </div>
    <!-- Buy-car ended -->
      </div>
    
    </div>

    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/Pagination.js"></script>
    <script src="/assets/scripts/ajax/ajax.js"></script>
    <script src="/assets/scripts/script.js"></script>
  </body>
</html>
 