<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HooHoop - Buy Car</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <script src="/assets/scripts/script.js"></script>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>

  <body class="bgset">
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->
    
    <div class="buy_car_wrap">
      <div class="filterwrap">
        <div class="fltr_head">Filters</div>
        <div class="filters">
          <form id="former">
            <button type="submit" id="filtex">SUBMIT</button>
          <div id="make" class="filter_option">
            <div class="Filter_class" onclick="foption('0')"><span>Make</span><i class="fas fa-chevron-right"></i></div>
              <div class="foption_encloser">
                <div class="foption">Audi <input type="checkbox" id="foption-1"> <label for="foption-1"></label></div>
                <div class="foption">BMW <input type="checkbox" id="foption-2"> <label for="foption-2"></label></div>
                <div class="foption">FIAT <input type="checkbox" id="foption-3"> <label for="foption-3"></label></div>
                <div class="foption">FORD <input type="checkbox" id="foption-4"> <label for="foption-4"></label></div>
                <div class="foption">Holden <input type="checkbox" id="foption-5"> <label for="foption-5"></label></div>
                <div class="foption">Honda <input type="checkbox" id="foption-6"> <label for="foption-6"></label></div>
                <div class="foption">Hyundai <input type="checkbox" id="foption-7"> <label for="foption-7"></label></div>
                <div class="foption">Jaguar <input type="checkbox" id="foption-8"> <label for="foption-8"></label></div>
                <div class="foption">Land Rover <input type="checkbox" id="foption-9"> <label for="foption-9"></label></div>
                <div class="foption">Mazda <input type="checkbox" id="foption-10"> <label for="foption-10"></label></div>
                <div class="foption">Mercedes Benz <input type="checkbox" id="foption-11"> <label for="foption-11"></label></div>
                <div class="foption">Mitsubishi <input type="checkbox" id="foption-12"> <label for="foption-12"></label></div>
                <div class="foption">Nissan <input type="checkbox" id="foption-13"> <label for="foption-13"></label></div>
                <div class="foption">Porsche <input type="checkbox" id="foption-14"> <label for="foption-14"></label></div>
                <div class="foption">Subaru <input type="checkbox" id="foption-15"> <label for="foption-15"></label></div>
                <div class="foption">Suzuki <input type="checkbox" id="foption-16"> <label for="foption-16"></label></div>
                <div class="foption">Toyota <input type="checkbox" id="foption-17"> <label for="foption-17"></label></div>
                <div class="foption">Volkswagon <input type="checkbox" id="foption-18"> <label for="foption-18"></label></div>
                <div class="foption">Volvo <input type="checkbox" id="foption-19"> <label for="foption-19"></label></div>
              </div>
          </div>  
          <div id="model" class="filter_option">
            <div class="Filter_class" onclick="foption('1')"><span>Model</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">320I <input type="checkbox" id="foption-20"> <label for="foption-20"></label></div>
              <div class="foption">325I <input type="checkbox" id="foption-21"> <label for="foption-21"></label></div>
              <div class="foption">500 <input type="checkbox" id="foption-22"> <label for="foption-22"></label></div>
              <div class="foption">523I <input type="checkbox" id="foption-23"> <label for="foption-23"></label></div>
              <div class="foption">A180 <input type="checkbox" id="foption-24"> <label for="foption-24"></label></div>
              <div class="foption">A4 <input type="checkbox" id="foption-25"> <label for="foption-25"></label></div>
              <div class="foption">Atenza <input type="checkbox" id="foption-26"> <label for="foption-26"></label></div>
              <div class="foption">Axela <input type="checkbox" id="foption-27"> <label for="foption-27"></label></div>
              <div class="foption">Boxster <input type="checkbox" id="foption-28"> <label for="foption-28"></label></div>
              <div class="foption">C250 <input type="checkbox" id="foption-29"> <label for="foption-29"></label></div>
              <div class="foption">CAMRY <input type="checkbox" id="foption-30"> <label for="foption-30"></label></div>
              <div class="foption">City <input type="checkbox" id="foption-31"> <label for="foption-31"></label></div>
              <div class="foption">Colorado <input type="checkbox" id="foption-32"> <label for="foption-32"></label></div>
              <div class="foption">Commodore <input type="checkbox" id="foption-33"> <label for="foption-33"></label></div>
              <div class="foption">Corolla <input type="checkbox" id="foption-34"> <label for="foption-34"></label></div>
              <div class="foption">Cross Polo <input type="checkbox" id="foption-35"> <label for="foption-35"></label></div>
              <div class="foption">CRV <input type="checkbox" id="foption-36"> <label for="foption-36"></label></div>
              <div class="foption">Demio <input type="checkbox" id="foption-37"> <label for="foption-37"></label></div>
              <div class="foption">Exiga <input type="checkbox" id="foption-38"> <label for="foption-38"></label></div>
              <div class="foption">Fit <input type="checkbox" id="foption-39"> <label for="foption-39"></label></div>
              <div class="foption">Fuga <input type="checkbox" id="foption-40"> <label for="foption-40"></label></div>
              <div class="foption">Galant <input type="checkbox" id="foption-41"> <label for="foption-41"></label></div>
              <div class="foption">Golf <input type="checkbox" id="foption-42"> <label for="foption-42"></label></div>
              <div class="foption">HIGHLANDER <input type="checkbox" id="foption-43"> <label for="foption-43"></label></div>
              <div class="foption">HILUX <input type="checkbox" id="foption-44"> <label for="foption-44"></label></div>
              <div class="foption">Impreza <input type="checkbox" id="foption-45"> <label for="foption-45"></label></div>
              <div class="foption">Insight G Hybrid <input type="checkbox" id="foption-46"> <label for="foption-46"></label></div>
              <div class="foption">IQ <input type="checkbox" id="foption-47"> <label for="foption-47"></label></div>
              <div class="foption">L300 <input type="checkbox" id="foption-48"> <label for="foption-48"></label></div>
              <div class="foption">Lafesta <input type="checkbox" id="foption-49"> <label for="foption-49"></label></div>
              <div class="foption">Leaf <input type="checkbox" id="foption-50"> <label for="foption-50"></label></div>
              <div class="foption">Legacy <input type="checkbox" id="foption-51"> <label for="foption-51"></label></div>
              <div class="foption">Lexus <input type="checkbox" id="foption-52"> <label for="foption-52"></label></div>
              <div class="foption">Mark-X <input type="checkbox" id="foption-53"> <label for="foption-53"></label></div>
              <div class="foption">Mustang <input type="checkbox" id="foption-54"> <label for="foption-54"></label></div>
              <div class="foption">Odyssey <input type="checkbox" id="foption-55"> <label for="foption-55"></label></div>
              <div class="foption">Premacy <input type="checkbox" id="foption-56"> <label for="foption-56"></label></div>
              <div class="foption">Prius <input type="checkbox" id="foption-57"> <label for="foption-57"></label></div>
              <div class="foption">Q7 <input type="checkbox" id="foption-58"> <label for="foption-58"></label></div>
              <div class="foption">Ractis <input type="checkbox" id="foption-59"> <label for="foption-59"></label></div>
              <div class="foption">Range Rover <input type="checkbox" id="foption-60"> <label for="foption-60"></label></div>
              <div class="foption">Ranger <input type="checkbox" id="foption-61"> <label for="foption-61"></label></div>
              <div class="foption">Santa Fe <input type="checkbox" id="foption-62"> <label for="foption-62"></label></div>
              <div class="foption">Stream <input type="checkbox" id="foption-63"> <label for="foption-63"></label></div>
              <div class="foption">Swift <input type="checkbox" id="foption-64"> <label for="foption-64"></label></div>
              <div class="foption">SX4 <input type="checkbox" id="foption-65"> <label for="foption-65"></label></div>
              <div class="foption">Tilda <input type="checkbox" id="foption-66"> <label for="foption-66"></label></div>
              <div class="foption">V60 <input type="checkbox" id="foption-67"> <label for="foption-67"></label></div>
              <div class="foption">VITZ <input type="checkbox" id="foption-68"> <label for="foption-68"></label></div>
              <div class="foption">Wish <input type="checkbox" id="foption-69"> <label for="foption-69"></label></div>
              <div class="foption">XC60 <input type="checkbox" id="foption-70"> <label for="foption-70"></label></div>
              <div class="foption">XJ <input type="checkbox" id="foption-71"> <label for="foption-71"></label></div>
              <div class="foption">Z3 <input type="checkbox" id="foption-72"> <label for="foption-72"></label></div>
            </div>
          </div>
          <div id="price" class="filter_option">
            <div class="Filter_class" onclick="foption('2')"><span>Price</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
              <div class="foption">$ 0 To $ 3000 <input type="checkbox" id="foption-73"> <label for="foption-73"></label></div>
              <div class="foption">$ 3001 To $ 5000 <input type="checkbox" id="foption-74"> <label for="foption-74"></label></div>
              <div class="foption">$ 5001 To $ 8000 <input type="checkbox" id="foption-75"> <label for="foption-75"></label></div>
              <div class="foption">$ 8001 To $ 10000 <input type="checkbox" id="foption-76"> <label for="foption-76"></label></div>
              <div class="foption">$ 10001 + <input type="checkbox" id="foption-77"> <label for="foption-77"></label></div>
            </div>
          </div>
          <div id="fuel_type" class="filter_option">
            <div class="Filter_class" onclick="foption('3')"><span>Fuel Type</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
                <div class="foption">Petrol <input type="checkbox" id="foption-78"> <label for="foption-78"></label></div>
                <div class="foption">Diesel <input type="checkbox" id="foption-79"> <label for="foption-79"></label></div>
                <div class="foption">Electric <input type="checkbox" id="foption-80"> <label for="foption-80"></label></div>
                <div class="foption">Hybrid <input type="checkbox" id="foption-81"> <label for="foption-81"></label></div>
            </div>
          </div>
          <div id="kms" class="filter_option">
            <div class="Filter_class" onclick="foption('4')"><span>KMs</span><i class="fas fa-chevron-right"></i></div>
            <div class="foption_encloser">
                <div class="foption">Upto 5000 Kms <input type="checkbox" id="foption-82"> <label for="foption-82"></label></div>
                <div class="foption">5000 to 15000 Kms <input type="checkbox" id="foption-83"> <label for="foption-83"></label></div>
                <div class="foption">15000 to 30000 Kms <input type="checkbox" id="foption-84"> <label for="foption-84"></label></div>
                <div class="foption">30000 to 50000 Kms <input type="checkbox" id="foption-85"> <label for="foption-85"></label></div>
                <div class="foption">50000+ Kms <input type="checkbox" id="foption-86"> <label for="foption-86"></label></div>
            </div>
          </div>
          <div id="age" class="filter_option">
            <div class="Filter_class"><span>AGE</span><i class="fas fa-chevron-right"></i></div>
          </div>
          <div id="transmission" class="filter_option">
            <div class="Filter_class"><span>Transmission</span><i class="fas fa-chevron-right"></i></div>
          </div>
          <div id="body_type" class="filter_option">
            <div class="Filter_class"><span>Body Type</span><i class="fas fa-chevron-right"></i></div>
          </div>
          <div id="color" class="filter_option">
            <div class="Filter_class"><span>Color</span><i class="fas fa-chevron-right"></i></div>
          </div>
        </form>
        </div>
      </div>
  
      <div class="contentwrap">
        <% for(var i = 0; i < record.length; i++) { %>
          <a href="http://localhost:8080/buy-car/<%= record[i].id%>" class="cardanchor">
          <div class="bc-card">
            <div class="cb_img"><img src="/assets/Uploads/<%= record[i].vinNum %>/exterior/<%= record[i].thumbnail %>"></div>
            <div class="cb_info">
              <div class="cb_main">
                <span class="cb_name"><%= record[i].Make %></span>
                <span class="cb_price">$ <%= record[i].Price %></span>
              </div>
              <div class="cb_add_info">
                <span class="kms_info"><%= record[i].kMeters %></span>
                <span class="trans_info"><%= record[i].Transmission %></span>
                <span class="model_info"><%= record[i].Model %></span>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </div>

    </div>

    <!-- Buy-car ended -->
    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/ajax/ajax.js"></script>
  </body>
</html>
