<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://naver.github.io/egjs-view360/common/css/demo.css"
    />
    <link
      rel="stylesheet"
      href="https://naver.github.io/egjs-view360/common/css/PanoControls.css"
    />
    <script src="/assets/scripts/script.js"></script>
    <title>HooHoop</title>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body class="c_p_body">
    <%-include('./Components/Header.ejs') %>

    <div class="th_sxty_info">
      <div class="th60_container">
        <div class="viewthsxty">
          
          <div class="panoviewer-container viewer">
            <div id="panoSet">
              <div class="panoviewer container" id="myPanoViewer"></div>
            </div>
          </div>

          <div class="exterior_slider">
            <div class="slide-item"><img src="../assets/Uploads/EDN248/exterior/Photo-0.jpg"></div>
            <div class="slide-item"><img src="../assets/Uploads/FJL292/exterior/Photo-0.jpg"></div>
            <div class="slide-item"><img src="../assets/Uploads/JNF109/exterior/Photo-0.jpg"></div>
            <div class="slide-item"><img src="../assets/Uploads/JPH3/exterior/Photo-0.jpg"></div>
            <div class="slide-item"><img src="../assets/Uploads/KCU803/exterior/Photo-0.jpg"></div>
         </div>

        </div>
        <div class="car_name_price">
          <div class="c_name"><%= record.Make %></div>
          <div class="c_price">$<%= record.Price%><span>NZ</span></div>
        </div>
      </div>
      <div class="cardetails_tab">
        <h1>Specifications</h1>
        <div class="det_connect">
          <div class="ico_hold">
            <i class="fad fa-joystick"></i>
            <p>Transmission</p>
          </div>
          <div class="prop_hold"><%= record.Transmission %></div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fal fa-tachometer"></i>
            <span>KM</span>
          </div>
          <div class="prop_hold"><%= record.kMeters %></div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fad fa-gas-pump"></i>
            <span>Fuel Type</span>
          </div>
          <div class="prop_hold"><%= record.fuelType %></div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fas fa-loveseat"></i>
            <span>Seats</span>
          </div>
          <div class="prop_hold"><%= record.SeatNum %></div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fad fa-cogs"></i>
            <span>Engine</span>
          </div>
          <div class="prop_hold"><%= record.engineSize %> cc</div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fad fa-car-alt"></i>
            <span>Body style</span>
          </div>
          <div class="prop_hold"><%= record.BodyType %></div>
        </div>

        <div class="det_connect">
          <div class="ico_hold">
            <i class="fad fa-paint-brush-alt"></i>
            <span>Color</span>
          </div>
          <div class="prop_hold"><%= record.Colour %></div>
        </div>
      </div>
    </div>
    <div class="panel-contain">
      <div class="nav_with_panel_tabs">
        <div class="panel_tabs">
          <div class="tabs active-tab" onclick="tabselect(0)">
            Book a Test Drive
          </div>
          <div class="tabs" onclick="tabselect(1)">Check Availability</div>
          <div class="tabs" onclick="tabselect(2)">Shipping Quote</div>
        </div>
        <div class="panel_body">
          <div class="p-body">
            <h2 class="p_body_headlines">Book a Test Drive</h2>
            <form>
              <label for="ft_name">First Name</label>
              <input type="text" id="ft_name" required />

              <label for="lt_name">Last Name</label>
              <input type="text" id="lt_name" required />

              <label for="bt_email">Email Address</label>
              <input type="email" id="bt_email" required />

              <label for="pt_phone">Phone Number</label>
              <input type="number" id="pt_phone" required />

              <button
                class="submit-button"
                type="submit"
                formaction="book_test-drive/submit"
              >
                Submit
              </button>
            </form>
          </div>
          <div class="p-body vanish">
            <h2 class="p_body_headlines">Check Availability</h2>
            <h3 class="p_body_headlines">
              Hi, I am interested. Can you tell me more?
            </h3>
            <form>
              <label for="ck_name">Name</label>
              <input type="text" id="ck_name" required />

              <label for="ck_email">Email Address</label>
              <input type="email" id="ck_email" required />

              <label for="ck_phone">Phone Number</label>
              <input type="number" id="ck_phone" required />

              <button
                class="submit-button"
                type="submit"
                formaction="check_availbility/submit"
              >
                Submit
              </button>
            </form>
          </div>
          <div class="p-body vanish">
            <h2 class="p_body_headlines">Request a transport Quote</h2>
            <form>
              <span>Contact Details</span>
              <label for="sq_name">Name</label>
              <input type="text" id="sq_name" required />

              <label for="sq_email">Email Address</label>
              <input type="email" id="sq_email" required />

              <label for="sq_phone">Phone Number</label>
              <input type="number" id="sq_phone" required />

              <span>Transport Details</span>
              <label for="wh_move_from"
                >Where will the vehicle be move from</label
              >
              <input type="text" id="wh_move_from" required />

              <label for="wh_move_to">Where will the vehicle be move to</label>
              <input type="text" id="wh_move_to" required />

              <label for="wh_date">What is your prefered transport date</label>
              <input type="date" id="wh_date" required />

              <label for="wh_question"
                >Do you have any other notes OR question (optional)</label
              >
              <textarea
                name="question_transport"
                id="wh_question"
                cols="30"
                rows="5"
              ></textarea>

              <button
                class="submit-button"
                type="submit"
                formaction="shipping-quote/submit"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="seller-details"></div>
    </div>
    <%-include('./Components/Footer.ejs') %>

    <script src="/assets/scripts/view360/jquery.js"></script>
    <script src="/assets/scripts/view360/gyro.js"></script>
    <script src="/assets/scripts/view360/pano.js"></script>
    <script src="/assets/scripts/view360/pieview.js"></script>
    <script src="/assets/scripts/view360/screenfull.js"></script>
    <script src="/assets/scripts/view360/view360.js"></script>
    <script>
      var PanoViewer = eg.view360.PanoViewer;
      var container = document.getElementById("myPanoViewer");
      var panoViewer = new PanoViewer(container, {
        image:
          "../assets/images/FRONT.jpg",
        projectionType: "equirectangular"
      });

      var panoviewerSet = document.getElementById("panoSet");
      PanoControls.init(panoviewerSet, panoViewer, {
        enableGyroOption: true,
        enableTouchOption: true
      });
      PanoControls.showLoading();
    </script>
  </body>
</html>
