<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-164499415-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-164499415-1");
    </script>
    <title>HooHoop</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/chatbot.css">
    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/scripts/view360-interior/jquery-2.2.4.js"></script>
    <script src="/assets/scripts/view360-interior/screenfull.min.js"></script>
    <script src="/assets/scripts/view360-interior/PieView.js"></script>
    <script src="/assets/scripts/view360-interior/GyroTouchOptions.js"></script>
    <script src="/assets/scripts/view360-interior/view360.pkgd.js"></script>
    <script src="/assets/scripts/view360-interior/PanoControls.js"></script>
    <script src="/assets/scripts/view360-interior/sweetalert2.all.min.js"></script>
    <script src="/assets/scripts/view360-interior/webxr-polyfill.min.js"></script>
    <script src="/assets/scripts/view360-interior/initXR.js"></script>
    <link rel="stylesheet" href="/assets/css/view360/demo.css" />
    <link rel="stylesheet" href="/assets/css/view360/PanoControls.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body class="c_p_body" onload="ImgChange('INTERIORMIDDLE.JPG')">
    <%-include('./Components/Header.ejs') %>

    <div class="cardet_page">
      <%-include('./Flash/message.ejs') %>
      <div class="th_sxty_info">
        <div class="th60_container">
          <div class="viewthsxty">
            <button class="interior-changer" onclick="intext('1'),showsl('1')">
              <i class="fad fa-steering-wheel"></i
              ><span class="tooltiptext">Interior</span>
            </button>
            <button class="exterior-changer" onclick="intext('2'),showsl('2')">
              <i class="fad fa-car"></i
              ><span class="tooltiptext">Exterior</span>
            </button>

            <select name="interiorSelect" id="INTSELECT" onchange="ImgChange(this.value)">
              <% if(FrontCheck){ %>
                <option value="INTERIORFRONT.JPG">Front</option>
              <% } %>
              <option value="INTERIORMIDDLE.JPG" selected>Middle</option>
              <% if(RearCheck){ %>
                <option value="INTERIORREAR.JPG">Rear</option>
              <% } %>
            </select>

            <div class="panoviewer-container viewer">
              <div id="panoSet">
                <div class="panoviewer container" id="myPanoViewer"></div>
              </div>
            </div>

            <div class="iwdivide"></div>

            <div class="exterior_slider">
              <div
                class="cloudimage-360"
                data-folder="/assets/Uploads/<%= record.vinNum %>/exterior/"
                data-filename="Photo_{index}.jpg"
                data-amount="<%= record.TotFrame %>"
              ></div>
            </div>
          </div>
          <div class="car_name_price">
            <div class="c_name"><%= record.Make %> - <%= record.Model %></div>
            <div class="c_price">$<%= record.Price%></div>
          </div>
          <div class="listspec">
          
            <div class="specdet">
              <div class="icohold"><i class="fad fa-joystick"></i><span>Transmission</span></div>
              <div class="prophold"><%= record.Transmission %></div>
            </div>
  
            <div class="specdet">
              <div class="icohold"><i class="fal fa-tachometer"></i><span>Km</span></div>
              <div class="prophold"><%= record.kMeters %></div>
            </div>
            
            <div class="specdet">
              <div class="icohold"><i class="fad fa-gas-pump"></i><span>Fuel Type</span></div>
              <div class="prophold"><%= record.FuelType %></div>
            </div>
  
            <div class="specdet">
              <div class="icohold"><i class="fad fa-cogs"></i><span>Engine</span></div>
              <div class="prophold"><%= record.engineSize %> cc</div>
            </div>

            <div class="specdet">
              <div class="icohold"><i class="fad fa-paint-brush-alt"></i><span>Colour</span></div>
              <div class="prophold"><%= record.Colour %></div>
            </div>

            <div class="specdet">
              <div class="icohold"><i class="fas fa-loveseat"></i></i><span>Seats</span></div>
              <div class="prophold"><%= record.SeatNum %></div>
            </div>
  
          </div>
        </div>

        <div class="addinfo">
          <div class="infodet">

            <div class="Listing_id">
              <div class="id_head">Listing ID</div>
              <div class="id_num"><%= record.vinNum %></div>
            </div>

            <div class="Additional_info">
              <div class="Addinfo_head">Additional Info.</div>
              <div class="Addinfo_spec"><span>Reg. Expiry</span><%= record.regExpiry %></div>
              <div class="Addinfo_spec"><span>On Road Cost</span><%= record.RoadCost %> Included</div>
              <div class="Addinfo_spec"><span>Drive Type</span><%= record.DriveWheel4 %> Wheel</div>
              <div class="Addinfo_spec"><span>Fuel Economy</span>
                <div class="fuelstar" data-fstar="<%= record.FuelStar %>">
                  <div class="stars-outer">
                      <div class="stars-inner"></div>
                  </div>
                </div>
              </div>
              <div class="Addinfo_spec"><span>Safety Stars</span>
                <div class="safetystar" data-sstar="<%= record.SafetyStar %>">
                  <div class="stars-outer">
                      <div class="stars-inner"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="seller_info">
              <div class="seller_head">Seller Details</div>
                <div class="vanish sell_hdet">
                  <div class="seller_spec"><span>Name</span><%= record.DealerName %></div>
                  <div class="seller_spec"><span>Phone No.</span><a href="tel:<%= record.DealerNum %>"><%= record.DealerNum %></a></div>
                  <div class="seller_spec"><span>Email</span><a href="mailto:<%= record.DealerEmail %>" target="__blank"><%= record.DealerEmail %></a></div>
                  <div class="seller_spec"><span>Location</span><span class="locate"><%= record.carAddr %></span></div>
                </div>
                <div class="seller_spec seldet_btn">
                  <button class="sell_detbtn" onclick="showseller()">Show Details</button>
                </div>
            </div>

            <div class="share_info">
              <div class="share_data">Share</div>
              <div class="share">
                <a href="https://www.instagram.com/hoohoopnz/" target="__blank">
                </a>
                <a id="face-linker" target="__blank">
                  <div class="social_share"><i class="fab fa-facebook-f"></i></div>
                </a>
                <a id="tweet-linker" target="__blank">
                  <div class="social_share"><i class="fab fa-twitter"></i></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        </div>

      <div class="Descriptive-Data">
        <div class="Description-Box">
          <h1>DESCRIPTION</h1>
          <%= record.Description %>
        </div>
        
      </div>
      <div class="panel-contain">
        <div class="nav_with_panel_tabs">
          <div class="panel_tabs">
            <div class="tabs active-tab" onclick="tabselect(0)">
              Book a Test Drive
            </div>
            <div class="tabs" onclick="tabselect(1)">Check Availability</div>
            <div class="tabs" onclick="tabselect(2)">Shipping Quote</div>
          </div>
          <div class="panel_body">
            <div class="p-body">
              <h2 class="p_body_headlines">Book a Test Drive</h2>
              <form method="POST">
                <label for="ft_name">First Name</label>
                <input type="text" id="ft_name" name="ft_name" required />

                <label for="lt_name">Last Name</label>
                <input type="text" id="lt_name" name="lt_name" required />

                <label for="bt_email">Email Address</label>
                <input type="email" id="bt_email" name="bt_email" required />

                <label for="pt_phone">Phone Number</label>
                <input type="number" id="pt_phone" name="pt_phone" required />

                <button
                  class="submit-button"
                  type="submit"
                  formaction="/buy-car/<%= record._id %>/book-drive"
                >
                  Submit
                </button>
              </form>
            </div>
            <div class="p-body vanish">
              <h2 class="p_body_headlines">Check Availability</h2>
              <h3 class="p_body_headlines">
                Hi, I am interested. Can you tell me more?
              </h3>
              <form method="POST">
                <label for="ck_name">Name</label>
                <input type="text" id="ck_name" name="ck_name" required />

                <label for="ck_email">Email Address</label>
                <input type="email" id="ck_email" name="ck_email" required />

                <label for="ck_phone">Phone Number</label>
                <input type="number" id="ck_phone" name="ck_phone" required />

                <button
                  class="submit-button"
                  type="submit"
                  formaction="/buy-car/<%= record._id %>/check-avail"
                >
                  Submit
                </button>
              </form>
            </div>
            <div class="p-body vanish">
              <h2 class="p_body_headlines">Request a transport Quote</h2>
              <form method="POST">
                <span>Contact Details</span>
                <label for="sq_name">Name</label>
                <input type="text" id="sq_name" name="sq_name" required />

                <label for="sq_email">Email Address</label>
                <input type="email" id="sq_email" name="sq_email" required />

                <label for="sq_phone">Phone Number</label>
                <input type="number" id="sq_phone" name="sq_phone" required />

                <span>Transport Details</span>
                <label for="wh_move_from"
                  >Where will the vehicle be move from</label
                >
                <input type="text" id="wh_move_from" name="wh_move_from" required />

                <label for="wh_move_to"
                  >Where will the vehicle be move to</label
                >
                <input type="text" id="wh_move_to" name="wh_move_to" required />

                <label for="wh_date"
                  >What is your prefered transport date</label
                >
                <input type="date" id="wh_date" name="wh_date" required />
                <button
                  class="submit-button"
                  type="submit"
                  formaction="/buy-car/<%= record._id %>/ship-quote"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="cardbd_1 listing-recommended">
        <div class="cd_head">
          <div class="cd_headline">You might also like</div>
        </div>
        <div class="cd_content">
        <% for( let i = 0; i < recommended.length; i++ ) { %>
          <a href="/buy-car/<%= recommended[i]._id %>" class="cd_car_data">
            
              <div class="img_contain">
                <div class="view-details">View details</div>
                <img src="/assets/Uploads/<%= recommended[i].vinNum %>/thumbnail/Photo380.jpg" />
              </div>
              <div class="info_contain">
                <div class="con_name"> <%= recommended[i].Make %> </div>
                <div class="con_price"> $ <%= recommended[i].Price %></div>
                <div></div>
              </div>
            
          </a>
        <% } %>
      </div>
        <div class="cd_btn">
          <button onclick="scrolldiv(0,0)">
            <i class="fal fa-chevron-left"></i>
          </button>
          <button onclick="scrolldiv(1,0)">
            <i class="fal fa-chevron-right"></i>
          </button>
        </div>
        <div class="cd_link">
          <a href="/search-car/1">View All</a>
        </div>
      </div>

      <%-include('./Components/chatbot.ejs') %>
    </div>
    <%-include('./Components/Footer.ejs') %>
    <input type="text" id="minor" class="vanish" value="<%= record.minPrice %>">
    <input type="text" id="major" class="vanish" value="<%= record.Price %>">
    <input type="text" id="vinObjId" class="vanish" value="<%= record.id %>">
    <script src="/assets/scripts/view360-exterior/min.js"></script>
    <script src="/assets/scripts/ChatBot.js"></script>
    <script src="/assets/scripts/flasher.js"></script>
    <script src="/assets/scripts/starManager.js"></script>
    <script>
      function ImgChange(imgname){
        let myPan = document.getElementsByClassName("panoviewer-container")[0];
        
        document.getElementsByClassName("viewthsxty")[0].removeChild(myPan)

        let panoviewerHTML = '\
              <div class="panoviewer-container viewer" style="z-index:1002">\
                <div id="panoSet">\
                  <div class="panoviewer container" id="myPanoViewer"></div>\
                </div>\
              </div>';

        let whereinsert = document.getElementById("INTSELECT")

        whereinsert.insertAdjacentHTML("afterend",panoviewerHTML)

        var PanoViewer = eg.view360.PanoViewer;
        var container = document.getElementById("myPanoViewer");
        let panoViewer = new PanoViewer(container, {
          image: `/assets/Uploads/<%= record.vinNum %>/interior/${imgname}`,
          projectionType: "equirectangular"
        });

        var panoviewerSet = document.getElementById("panoSet");
        PanoControls.init(panoviewerSet, panoViewer, {
          enableGyroOption: true,
          enableTouchOption: true
        });
        PanoControls.showLoading();
      }
    </script>
  </body>
</html>
