<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <title>HooHoop</title>
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body>
    <%-include('./Components/Header.ejs') %> <% if(user){%>
      <div class="dash_wrapper">

        <div class="dashfeature">
          <div class="sidebar">

            <div class="sbar_options">
              <div class="sopt selected_sopt">Profile</div>
              <div class="sopt">Account Management</div>
              <div class="sopt">My Listing</div>
              <div class="sopt">All Listings</div>
              <div class="sopt">User Management</div>
              <div class="sopt">Client Management</div>
              <div class="sopt">360 Requests</div>
            <a href="/logout"><div class="sopt">Logout</div></a>  
            </div>
  
          </div>
          <!-- Profile Section -->
          <div class="fet_det">
            <%-include('./Flash/message.ejs') %>
            <h1 class="feature_head">Profile</h1>

          <div class="Usercred">
            <form method="POST" autocomplete="off">

                <div class="credcontainer">
                  <label for="d_cred_mail">Email</label>
                  <span title="Email Cannot be changed" class="d_c_em_us"><%= user.email %> <i class="far fa-exclamation-triangle"></i></span>
              </div>
              
              <div class="credcontainer">
                <label for="d_cred_fnme">First Name</label>
                <input type="text" id="d_cred_fnme" placeholder="<%= user.firstName %>" value="<%= user.firstName %>" name="firstName">
              </div>

              <div class="credcontainer">
                <label for="d_cred_lnme">Last Name</label>
                <input type="text" id="d_cred_lnme" placeholder="<%= user.lastName %>" value="<%= user.lastName %>" name="lastName">
              </div>

              <div class="credcontainer flex_change">
                <h1>Contact Details</h1>
              </div>

              <div class="credcontainer">
                <label for="d_cred_num">Phone</label>
                <input type="text" id="d_cred_num" placeholder="<%= user.phoneNum %>" value="<%= user.phoneNum %>" name="phoneNum">
              </div>
              
              <div class="credcontainer">
                <label for="d_cred_address">Address</label>
                <input type="text" id="d_cred_address" placeholder="<%= user.address %>" value="<%= user.address %>" name="address">
              </div>

              <div class="subcred">
                <button type="submit" formaction="/dashboard/profile">Update</button>
              </div>

            </form>
          </div>
          </div>
          <!-- Prifile Section -->

          <!-- Account Management -->
          <div class="fet_det vanish">
            <h1 class="feature_head">Account Management</h1>  

            <div class="Usercred Acc_man">
            
            <form method="POST">
              <div class="credcontainer">
                <label for="d_cred_oldpass">Old Password</label>
                <input type="password" id="d_cred_oldpass" name="originalPass">
              </div>
  
              <div class="credcontainer">
                <label for="d_cred_newpass">New Password</label>
                <input type="password" id="d_cred_newpass" name="password">
              </div>
  
              <div class="credcontainer">
                <label for="d_cred_cnewpass">Confirm New Password</label>
                <input type="password" id="d_cred_cnewpass" name="password2">
              </div>

              <div class="subcred">
                <button type="submit" formaction="/dashboard/password-reset">Change Password</button>
              </div>
            </form>

          </div>

          </div>
          <!-- Account Management -->

          <!-- My-Listing -->
          <div class="fet_det vanish">
            <h1 class="feature_head">My Listings</h1>

            <div class="table_container">

              <table class="table_S">
                <tr id="mylist">
                  <th>S.No</th>
                  <th>Thumbnail</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Status</th>
                  <th>Sold</th>
                  <th>Delete</th>
                </tr>

              </table>

            </div>
          </div>
          <!-- My-Listing -->

          <!-- All-Listings -->
            <div class="fet_det vanish">
              <h1 class="feature_head">All Listings</h1>

              <div class="table_container">

                <table class="table_S">
                  <tr id="completeList">
                    <th>S.No</th>
                    <th>Thumbnail</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Status</th>
                    <th>Sold</th>
                    <th>Delete</th>
                  </tr>

                </table>
  
              </div>
            </div>
          <!-- All-Listings -->

          <!-- User-Management -->
            <div class="fet_det vanish">
              <h1 class="feature_head">User Management</h1>

              <div class="table_container">

                <table class="table_S">
                  <tr id="completeUsers">
                    <th>S.No</th>
                    <th>Thumbnail</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>
                  </table>
  
              </div>
            </div>
          <!-- User-Management -->

          <!-- Req Panel -->
            <div class="fet_det vanish">
              <h1 class="feature_head">Client Management</h1>

              <div class="reqpanel">
                
                <div class="Panesel">
                  <div class="Paneopt selected_paneopt">Test Drive</div>
                  <div class="Paneopt">Availability Enquiry</div>
                  <div class="Paneopt">Shipping Enquiry</div>
                </div>

                <table class="table_S client_table">
                  <tr id="testdriveEnq">
                    <th>S.No</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Varun</td>
                    <td>Dev</td>
                    <td>dudevarun7777@gmail.com</td>
                    <td>8700506796</td>
                    <td class="pending"><button onclick="pending_done(this)">Pending</button></td>
                    <td class="delete"><button  onclick="del_lstng(this)">Delete</button></td>
                  </tr>
                </table>

                <table class="table_S vanish client_table">
                  <tr id="availabilityEnq">
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Varun Dev</td>
                    <td>dudevarun7777@gmail.com</td>
                    <td>8700506796</td>
                    <td class="pending"><button onclick="pending_done(this)">Pending</button></td>
                    <td class="delete"><button onclick="del_lstng(this)">Delete</button></td>
                  </tr>
                </table>

                <table class="table_S vanish client_table">
                  <tr id="ShippingEnq">
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Starting Point</th>
                    <th>Destination</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Varun</td>
                    <td>dudevarun7777@gmail.com</td>
                    <td>8700506796</td>
                    <td>101/224 DDA Flats New Seelampur, Delhi-53</td>
                    <td>223 Christchurch City</td>
                    <td>10/07/2020</td>
                    <td class="pending"><button onclick="pending_done(this)">Pending</button></td>
                    <td class="delete"><button onclick="del_lstng(this)">Delete</button></td>
                  </tr>
                </table>

              </div>

            </div>
          <!-- Req Panel -->

          <!-- 360 Req Panel -->
            <div class="fet_det vanish">
              <h1 class="feature_head">360 Photo Requests</h1>

              <div class="table_container">

                <table class="table_S">
                  <tr id="Reqthreesixty_panel">
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Status</th>
                    <th>Delete</th>
                  </tr>

                  <tr>
                    <td>1</td>
                    <td>Varun Dev</td>
                    <td>dudevarun7777@gmail.com</td>
                    <td>8700506796</td>
                    <td class="pending"><button onclick="pending_done(this)">Pending</button></td>
                    <td class="delete"><button onclick="del_lstng(this)">Delete</button></td>
                  </tr>
                  </table>
  
              </div>

            </div>
          <!-- 360 Req Panel -->

          <!-- Modals -->
          <div class="Modal">
            <div class="del_lstng">
              <div class="btndesk"><button class="cslstng"  onclick="del_lstng(false)"><div class="crosssec"></div><div class="crosssec"></div></button></div>
              <div class="cnf_symbl" id="modal_1"><i class="fad fa-trash"></i></div>
              <div class="del_text">Are you sure you want to delete this listing</div>
              <form method="POST">
                <input type="text" id="adDelete" value="" name="deleteAd">
                <button class="del_lstng_btn" id="modalchange_1" type="submit" formaction="/my-ads/delete">Delete</button>
              </form>
            </div>
          </div>
          <!-- Prompt for delete -->
      
              <!-- Prompt for Sold-->
              <div class="Modal">
              <div class="del_lstng">
                <div class="btndesk"><button class="cslstng" onclick="sell_listed(false)"><div class="crosssec"></div><div class="crosssec"></div></button></div>
                <div class="cnf_symbl" id="modal_2"><i class="fad fa-check"></i></div>
                <div class="del_text">Are you sure you want to mark this vehicle as sold?</div>
                <form method="POST">
                  <input type="text" id="adSOLD" value="" name="adSOLD">
                  <button class="del_lstng_btn" id="modalchange_2" type="submit" formaction="/my-ads/update">Mark as sold</button>
                </form>
              </div>
            </div>
            <!-- Prompt for Sold -->

            <!-- Prompt for Pending-->
            <div class="Modal">
              <div class="del_lstng">
                <div class="btndesk"><button class="cslstng" onclick="pending_done(false)"><div class="crosssec"></div><div class="crosssec"></div></button></div>
                <div class="cnf_symbl" id="modal_3"><i class="far fa-exclamation-triangle"></i></div>
                <div class="del_text">Are you sure you want to mark this as done?</div>
                <form method="POST">
                  <input type="text" id="Pending_done" value="" name="adDONE">
                  <button class="del_lstng_btn" id="modalchange_3" type="submit" formaction="/my-ads/update">Mark as done</button>
                </form>
              </div>
            </div>
            <!-- Prompt for Pending -->
          <!-- Modals -->
          </div>
        </div>

      </div>
    <% } %> <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/scripts/dashboard.js"></script>
    <script src="/assets/scripts/ajax/dashboardAjax.js"></script>
    <script>

        //Check passwords match

        let password = document.getElementById('d_cred_newpass').value;
        let password2 = document.getElementById('d_cred_cnewpass').value;

        let errors = [];
  if (password !== password2) {
    errors.push({ msg: "Passwords do not match" });
  }

  //Check password length
  if (password.length < 6) {
    errors.push({ msg: "Password should be atleast 6 characters" });
  }

  if (password.length > 14) {
    errors.push({ msg: "Password length should not exceed 14 characters" });
  }

  //Check password strength
  if (!password.match(/[a-z]/)) {
    errors.push({ msg: "Password must contain a Lowercase Letter." });
  }

  if (!password.match(/[A-Z]/)) {
    errors.push({ msg: "Password must contain a Uppercase Letter." });
  }

  if (!password.match(/[0-9]/)) {
    errors.push({ msg: "Password must contain a Numeric Digit." });
  }

  if (!password.match(/[\W]/)) {
    errors.push({ msg: "Password must contain a Special Character." });
  }

  console.log(errors)
    </script>
  </body>
</html>
