<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-164499415-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-164499415-1");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Page</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link
      rel="icon"
      href="/assets/images/favicon.ico"
      type="image/ico"
      sizes="16*16"
    />
  </head>
  <body>
    <%-include('./Components/Header.ejs') %>
      <div class="edit_pagewrap">
        <div class="thumbinfo_contain">
          <div class="th60_container">
            <form>
            <div class="viewthsxty">
              <img
                src="/assets/Uploads/<%= car.vinNum %>/exterior/Photo_1.jpg"
                class="edit_pic"
              />
            </div>
            <div class="car_name_price">
              <div class="c_name">
                MAKE
                <input
                  class="edit_inp"
                  type="text"
                  placeholder="Car Name"
                  name="upMake"
                  value="<%= car.Make %>"
                  disabled
                />
              </div>
              <div class="c_model">
                Model
                <input
                  class="edit_inp"
                  type="text"
                  placeholder="Car Model"
                  name="upModel"
                  value="<%= car.Model %>"
                  disabled
                />
              </div>
              <div class="c_price">
                PRICE
                <input
                  class="edit_inp"
                  type="text"
                  placeholder="Car Price"
                  name="upPrice"
                  value="<%= car.Price %>"
                />
              </div>
              <div class="c_price">
                MIN PRICE
                <input
                  class="edit_inp"
                  type="text"
                  placeholder="Min Car Price"
                  name="upMinPrice"
                  value="<%= car.minPrice %>"
                />
              </div>
            </div>
          </div>

          <div class="th60_inputup">
          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-joystick"></i>
              <span>Transmission</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upTransmission"
                value="<%= car.Transmission %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fal fa-tachometer"></i>
              <span>KM</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upkMeters"
                value="<%= car.kMeters %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-gas-pump"></i>
              <span>Fuel Type</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upFuelType"
                value="<%= car.FuelType %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fas fa-loveseat"></i>
              <span>Seats</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upSeatNum"
                value="<%= car.SeatNum %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-cogs"></i>
              <span>Engine</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upEngineSize"
                value="<%= car.engineSize %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-car-alt"></i>
              <span>Body style</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upBodyType"
                value="<%= car.BodyType %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-paint-brush-alt"></i>
              <span>Color</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upColour"
                value="<%= car.Colour %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-calendar-alt"></i>
              <span>Wof Expiry</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upColour"
                value="<%= car.WoFexpiry %>"
              />
            </div>
          </div>

          <div class="det_connect">
            <div class="ico_hold">
              <i class="fad fa-calendar-alt"></i>
              <span>Reg. Expiry</span>
            </div>
            <div class="prop_hold">
              <input
                class="edit_inp"
                type="text"
                placeholder="Enter Details Here"
                name="upColour"
                value="<%= car.regExpiry %>"
              />
            </div>
          </div>

          </div>
        </div>

        <div class="edit_description">
          <h1>Description</h1>
          <textarea
            id="t_area"
            rows="6"
            placeholder="E.g. condition and other information"
            name="upDescription"
          >
<%= car.Description %></textarea
          >
        </div>

        <div class="edit_sa">
          <h1># Listing By</h1>
          <div class="sa_contain">
            <input
              class="edit_inp"
              type="text"
              value="<%= car.DealerName %>"
            />
            <input
              class="edit_inp"
              type="text"
              value="<%= car.DealerNum %>"
            />
            <input
              class="edit_inp"
              type="text"
              value="<%= car.DealerEmail %>"
            />
          </div>
        </div>
        <div class="e-up_btn">
          <button class="edit_update">Update</button>
        </div>
      </form>
      </div>
    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/script.js"></script>
  </body>
</html>
