<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <script src="../assets/scripts/script.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" sizes="16*16">
    <title>HooHoop</title>
</head>
<body class="preloader">  
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->



    <div class="VIN-input">
        <form method="POST">
            <h1 class="sell_head">Tell Us About the Vehicle you are selling</h1>
            <div class="ip_box">
                <input type="text" class="v_enter" placeholder="Enter your number plate or VIN" name="vinFigure">
                <button onclick="carinfo()" formaction="/car-submit/data">FIND</button>
            </div>
        </form>

        <% if (vinFigured) { %>
            <div class="car_info" id="car_jam">
                <h1>Check your car details</h1>
                <div class="car_api_data">
                    <div class="colspan_1">
                       <span class="a_dta">Make: <%= detailedCarObject.make %> </span> <br>
                       <span class="a_dta">Model: <%= detailedCarObject.model %> </span> <br>
                       <span class="a_dta">Fuel Type: <%= detailedCarObject.fuel_type %> </span> <br>
                       <span class="a_dta">Plate No: <%= detailedCarObject.plate %> </span> <br>
                    </div>
                    <div class="colspan_1">
                        <span class="a_dta">Year: <%= detailedCarObject.year_of_manufacture %> </span> <br>
                        <span class="a_dta">No Of Owners: <%= detailedCarObject.number_of_owners %> </span> <br>
                        <span class="a_dta">VIN: <%= detailedCarObject.vin %> </span> <br>
                        <span class="a_dta">Chassis: <%= detailedCarObject.chassis %> </span> <br>
                    </div>
                    <div class="colspan_1">
                        <span class="a_dta">Body style: <%= detailedCarObject.body_style %> </span> <br>
                        <span class="a_dta">Color: <%= detailedCarObject.main_colour %> </span> <br>
                        <span class="a_dta">Engine No: <%= detailedCarObject.engine_no %> </span> <br>
                        <span class="a_dta">Seats: <%= detailedCarObject.no_of_seats %> </span> <br>
                    </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="sell_form_submission">
            <div class="form_head">
                <h1>selling price</h1>
                <input type="text">
            </div>

            <div class="form_inp">
                <form>
                    <div class="select" onclick="sld_unsld(0)">
                        <div class="placeholder">
                            <div class="placeholder_text">placeholder</div>
                            <div class="select_opener">
                                <hr class="arr_1"><hr class="arr_1">
                            </div>
                        </div>
                        <div class="opt_enclose">
                        <div class="option" onclick="opt_select(0,0)">1</div>
                        <div class="option" onclick="opt_select(1,0)">2</div>
                        <div class="option" onclick="opt_select(2,0)">3</div>
                        <div class="option" onclick="opt_select(3,0)">4</div>
                        <div class="option" onclick="opt_select(4,0)">5</div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>