<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <script src="../assets/scripts/script.js"></script>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" sizes="16*16">
    <title>HooHoop</title>
</head>
<body class="preloader">  
    <%-include('./Components/Header.ejs') %>
    <!-- navbar end -->

    <div class="VIN-input">
        <form method="POST">
            <h1 class="sell_head">Tell Us About the Vehicle you are selling</h1>
            <div class="ip_box">
                <input type="text" class="v_enter" placeholder="Enter your number plate or VIN" name="vinFigure">
                <button formaction="/car-submit/data">FIND</button>
                <h6 class="form_see">Or Enter details Manually</h6>
            </div>
        </form>

        <% if (vinFigured) { %>
            <div class="car_info" id="car_jam">
                <h1>Check your car details</h1>
                <div class="car_api_data">
                    <div class="colspan_1">
                       <span class="a_dta">Make: <%= detailedCarObject.make %> </span> <br>
                       <span class="a_dta">Model: <%= detailedCarObject.model %> </span> <br>
                       <span class="a_dta">Fuel Type: <%= detailedCarObject.fuel_type %> </span> <br>
                       <span class="a_dta">Plate No: <%= detailedCarObject.plate %> </span> <br>
                    </div>
                    <div class="colspan_1">
                        <span class="a_dta">Year: <%= detailedCarObject.year_of_manufacture %> </span> <br>
                        <span class="a_dta">No Of Owners: <%= detailedCarObject.number_of_owners %> </span> <br>
                        <span class="a_dta">VIN: <%= detailedCarObject.vin %> </span> <br>
                        <span class="a_dta">Chassis: <%= detailedCarObject.chassis %> </span> <br>
                    </div>
                    <div class="colspan_1">
                        <span class="a_dta">Body style: <%= detailedCarObject.body_style %> </span> <br>
                        <span class="a_dta">Color: <%= detailedCarObject.main_colour %> </span> <br>
                        <span class="a_dta">Engine No: <%= detailedCarObject.engine_no %> </span> <br>
                        <span class="a_dta">Seats: <%= detailedCarObject.no_of_seats %> </span> <br>
                    </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="sell_form_submission">
            <div class="form_head">
                <h1>selling price</h1>
                <input type="text" placeholder="Preferred Selling Price" name="Price" required>
                <input type="text" placeholder="Minimum Selling Price" name="minPrice" required>
            </div>

            <div class="form_inp">
                
                <form method="post" enctype="multipart/form-data" action="submit">
                    
                    <div class="input-wrapper">
                        <span> Select Make </span>
                        <div class="select" onclick="sld_unsld(0)">
                            <div class="placeholder">
                                <div class="placeholder_text"><%= detailedCarObject.make %></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                                <div class="option" onclick="opt_select(0,0)">ALFA ROMEO</div>
                                <div class="option" onclick="opt_select(1,0)"> ASTON MARTIN</div>
                                <div class="option" onclick="opt_select(2,0)"> AUDI</div>
                                <div class="option" onclick="opt_select(3,0)"> AUSTIN</div>
                                <div class="option" onclick="opt_select(4,0)"> BMW</div>
                                <div class="option" onclick="opt_select(5,0)"> CADILLAC</div>
                                <div class="option" onclick="opt_select(6,0)"> CHEVROLET</div>
                                <div class="option" onclick="opt_select(7,0)"> CHRYSLER</div>
                                <div class="option" onclick="opt_select(8,0)"> DAEWOO</div>
                                <div class="option" onclick="opt_select(9,0)"> DODGE</div>
                                <div class="option" onclick="opt_select(10,0)"> FERRARI</div>
                                <div class="option" onclick="opt_select(11,0)"> FIAT</div>
                                <div class="option" onclick="opt_select(12,0)"> FORD</div>
                                <div class="option" onclick="opt_select(13,0)"> FOTON</div>
                                <div class="option" onclick="opt_select(14,0)"> GMC</div>
                                <div class="option" onclick="opt_select(15,0)"> HAVAL</div>
                                <div class="option" onclick="opt_select(16,0)"> HOLDEN</div>
                                <div class="option" onclick="opt_select(17,0)"> HONDA</div>
                                <div class="option" onclick="opt_select(18,0)"> HUMMER</div>
                                <div class="option" onclick="opt_select(19,0)"> HYUNDAI</div>
                                <div class="option" onclick="opt_select(20,0)"> INFINITI</div>
                                <div class="option" onclick="opt_select(21,0)"> ISUZU</div>
                                <div class="option" onclick="opt_select(22,0)"> IVECO</div>
                                <div class="option" onclick="opt_select(23,0)"> JAGUAR</div>
                                <div class="option" onclick="opt_select(24,0)"> JEEP</div>
                                <div class="option" onclick="opt_select(25,0)"> KIA</div>
                                <div class="option" onclick="opt_select(26,0)"> LEMBO</div>
                                <div class="option" onclick="opt_select(27,0)"> LAND ROVER</div>
                                <div class="option" onclick="opt_select(28,0)"> LEXUS</div>
                                <div class="option" onclick="opt_select(29,0)"> LOTUS</div>
                                <div class="option" onclick="opt_select(30,0)"> MAHINDRA</div>
                                <div class="option" onclick="opt_select(31,0)"> MASERATI</div>
                                <div class="option" onclick="opt_select(32,0)"> MAZDA</div>
                                <div class="option" onclick="opt_select(33,0)"> McLAREN</div>
                                <div class="option" onclick="opt_select(34,0)"> MERCEDES-BENZ</div>
                                <div class="option" onclick="opt_select(35,0)"> MG</div>
                                <div class="option" onclick="opt_select(36,0)"> MINI</div>
                                <div class="option" onclick="opt_select(37,0)"> MITSUBISHI</div>
                                <div class="option" onclick="opt_select(38,0)"> NISSAN</div>
                                <div class="option" onclick="opt_select(39,0)"> OPEL</div>
                                <div class="option" onclick="opt_select(40,0)"> PEUGEOT</div>
                                <div class="option" onclick="opt_select(41,0)"> PORSCHE</div>
                                <div class="option" onclick="opt_select(42,0)"> RAM</div>
                                <div class="option" onclick="opt_select(43,0)"> RENAULT</div>
                                <div class="option" onclick="opt_select(44,0)"> RILEY</div>
                                <div class="option" onclick="opt_select(45,0)"> ROLLS-ROYCE</div>
                                <div class="option" onclick="opt_select(46,0)"> ROVER</div>
                                <div class="option" onclick="opt_select(47,0)"> SAAB</div>
                                <div class="option" onclick="opt_select(48,0)"> SKODA</div>
                                <div class="option" onclick="opt_select(49,0)"> SMART</div>
                                <div class="option" onclick="opt_select(50,0)"> SSANGYONG</div>
                                <div class="option" onclick="opt_select(51,0)"> SUBARU</div>
                                <div class="option" onclick="opt_select(52,0)"> SUZUKI</div>
                                <div class="option" onclick="opt_select(53,0)"> TESLA</div>
                                <div class="option" onclick="opt_select(54,0)"> TOYOTA</div>
                                <div class="option" onclick="opt_select(55,0)"> TRIUMPH</div>
                                <div class="option" onclick="opt_select(56,0)"> TVR</div>
                                <div class="option" onclick="opt_select(57,0)"> VOLKSWAGEN</div>
                                <div class="option" onclick="opt_select(58,0)"> VOLVO</div>
                                <div class="option" onclick="opt_select(59,0)"> OTHER</div>
                            </div>
                            <input type="text" class="select-input" value="<%= detailedCarObject.make %>" name="Make" required>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model </span>
                            <input type="text" class="inp_form_tag" value="<%= detailedCarObject.model %>" name="Model" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Select Model Year </span>
                        <div class="select" onclick="sld_unsld(1)">
                            <div class="placeholder">
                                <div class="placeholder_text"><%= detailedCarObject.year_of_manufacture %></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,1)">2020</div>
                            <div class="option" onclick="opt_select(1,1)">2019</div>
                            <div class="option" onclick="opt_select(2,1)">2018</div>
                            <div class="option" onclick="opt_select(3,1)">2017</div>
                            <div class="option" onclick="opt_select(4,1)">2016</div>
                            <div class="option" onclick="opt_select(5,1)">2015</div>
                            <div class="option" onclick="opt_select(6,1)">2014</div>
                            <div class="option" onclick="opt_select(7,1)">2013</div>
                            <div class="option" onclick="opt_select(8,1)">2012</div>
                            <div class="option" onclick="opt_select(9,1)">2011</div>
                            <div class="option" onclick="opt_select(10,1)">2010</div>
                            <div class="option" onclick="opt_select(11,1)">2009</div>
                            <div class="option" onclick="opt_select(12,1)">2008</div>
                            <div class="option" onclick="opt_select(13,1)">2007</div>
                            <div class="option" onclick="opt_select(14,1)">2006</div>
                            <div class="option" onclick="opt_select(15,1)">2005</div>
                            <div class="option" onclick="opt_select(16,1)">2004</div>
                            <div class="option" onclick="opt_select(17,1)">2003</div>
                            <div class="option" onclick="opt_select(18,1)">2002</div>
                            <div class="option" onclick="opt_select(19,1)">2001</div>
                            <div class="option" onclick="opt_select(20,1)">2000</div>
                            <div class="option" onclick="opt_select(21,1)">1999</div>
                            <div class="option" onclick="opt_select(22,1)">1998</div>
                            <div class="option" onclick="opt_select(23,1)">1997</div>
                            <div class="option" onclick="opt_select(24,1)">1996</div>
                            <div class="option" onclick="opt_select(25,1)">1995</div>
                            <div class="option" onclick="opt_select(26,1)">1994</div>
                            <div class="option" onclick="opt_select(27,1)">1993</div>
                            <div class="option" onclick="opt_select(28,1)">1992</div>
                            <div class="option" onclick="opt_select(29,1)">1991</div>
                            <div class="option" onclick="opt_select(30,1)">1990</div>
                            </div>
                            <input type="text" class="select-input" value="<%= detailedCarObject.year_of_manufacture %>" name="ModelYear" required>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span>Body Type</span>
                        <div class="select" onclick="sld_unsld(2)">
                            <div class="placeholder">
                                <div class="placeholder_text"><%= detailedCarObject.body_style %></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,2)">1</div>
                            <div class="option" onclick="opt_select(1,2)">2</div>
                            <div class="option" onclick="opt_select(2,2)">3</div>
                            <div class="option" onclick="opt_select(3,2)">4</div>
                            <div class="option" onclick="opt_select(4,2)">5</div>
                            </div>
                            <input type="text" class="select-input" value="<%= detailedCarObject.body_style %>" name="BodyType" required>
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Doors (optional) </span>
                        <div class="select" onclick="sld_unsld(3)">
                            <div class="placeholder">
                                <div class="placeholder_text"></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,3)">1</div>
                            <div class="option" onclick="opt_select(1,3)">2</div>
                            <div class="option" onclick="opt_select(2,3)">3</div>
                            <div class="option" onclick="opt_select(3,3)">4</div>
                            <div class="option" onclick="opt_select(4,3)">5</div>
                            </div>
                            <input type="text" class="select-input" value="" name="DoorNum">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Seats (optional) </span>
                        <input type="text" class="inp_form_tag" value="<%= detailedCarObject.no_of_seats %>" name="SeatNum">
                    </div>

                    <div class="input-wrapper">
                        <span> Model Detail (optional) </span>
                        <input type="text" class="inp_form_tag" name="ModelDetail">
                    </div>

                    <div class="input-wrapper">
                        <span> Import History (optional) </span>
                        <div class="select" onclick="sld_unsld(4)">
                            <div class="placeholder">
                                <div class="placeholder_text"></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,4)">Don't Know</div>
                            <div class="option" onclick="opt_select(1,4)">Imported</div>
                            <div class="option" onclick="opt_select(2,4)">NZ New</div>
                            </div>
                            <input type="text" class="select-input" value="" name="Import History">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Previous Owners (optional) </span>
                        <div class="select" onclick="sld_unsld(5)">
                            <div class="placeholder">
                                <div class="placeholder_text"><%= detailedCarObject.number_of_owners %></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,5)">1</div>
                            <div class="option" onclick="opt_select(1,5)">2</div>
                            <div class="option" onclick="opt_select(2,5)">3</div>
                            <div class="option" onclick="opt_select(3,5)">4</div>
                            <div class="option" onclick="opt_select(4,5)">5</div>
                            </div>
                            <input type="text" class="select-input" value="<%= detailedCarObject.number_of_owners %>" name="PreviousOwners">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Number plate or VIN (optional) </span>
                        <input type="text" class="inp_form_tag" value="<%= detailedCarObject.plate %>" name="vinNum" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Kilometres </span>
                        <input type="text" class="inp_form_tag" value="<%= detailedCarObject.latest_odometer_reading %>" name="kMtere" required>
                    </div>

                    <div class="input-wrapper">
                        <span> Colour (Optional) </span>
                        <input type="text" class="inp_form_tag" value="<%= detailedCarObject.main_colour %>" name="Colour">
                    </div>

                    <div class="input-wrapper">
                        <span> Engine Size (CC) (Optional) </span>
                        <input type="text" class="inp_form_tag" value="<%= detailedCarObject.cc_rating %>" name="engineSize">
                    </div>

                    <div class="input-wrapper">
                        <span> Transmission (Optional) </span>
                    <div class="select" onclick="sld_unsld(6)">
                        <div class="placeholder">
                            <div class="placeholder_text"> <%= detailedCarObject.transmission %> </div>
                            <div class="select_opener">
                                <hr class="arr"><hr class="arr">
                            </div>
                        </div>
                        <div class="opt_enclose">
                        <div class="option" onclick="opt_select(0,6)">Don't Know</div>
                        <div class="option" onclick="opt_select(1,6)">Manual</div>
                        <div class="option" onclick="opt_select(2,6)">Automatic</div>
                        <div class="option" onclick="opt_select(3,6)">Triptonic</div>
                        </div>
                        <input type="text" class="select-input" value="<%= detailedCarObject.transmission %>" name="Transmission">
                    </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Fuel Type </span>
                        <div class="select" onclick="sld_unsld(7)">
                            <div class="placeholder">
                                <div class="placeholder_text"><%= detailedCarObject.fuel_type %></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,7)">Don't Know</div>
                            <div class="option" onclick="opt_select(1,7)">Petrol</div>
                            <div class="option" onclick="opt_select(2,7)">Diesel</div>
                            <div class="option" onclick="opt_select(3,7)">Electric</div>
                            <div class="option" onclick="opt_select(4,7)">Hybrid</div>
                            </div>
                            <input type="text" class="select-input" value="<%= detailedCarObject.fuel_type %>" name="fuelType">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Cylinders </span>
                        <div class="select" onclick="sld_unsld(8)">
                            <div class="placeholder">
                                <div class="placeholder_text"></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,8)">Rotary</div>
                            <div class="option" onclick="opt_select(1,8)">4-Cylinder</div>
                            <div class="option" onclick="opt_select(2,8)">5-Cylinder</div>
                            <div class="option" onclick="opt_select(3,8)">6-Cylinder</div>
                            <div class="option" onclick="opt_select(4,8)">8-Cylinder</div>
                            <div class="option" onclick="opt_select(5,8)">10-Cylinder</div>
                            <div class="option" onclick="opt_select(6,8)">12-Cylinder</div>
                            </div>
                            <input type="text" class="select-input" value="" name="cylinderNum">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> WOF Expiry (Optional) </span>
                        <div class="select" onclick="sld_unsld(9)">
                            <div class="placeholder">
                                <div class="placeholder_text"></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,9)">1</div>
                            <div class="option" onclick="opt_select(1,9)">2</div>
                            <div class="option" onclick="opt_select(2,9)">3</div>
                            <div class="option" onclick="opt_select(3,9)">4</div>
                            <div class="option" onclick="opt_select(4,9)">5</div>
                            </div>
                            <input type="text" class="select-input" value="" name="WoFexpiry">
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <span> Reg. Expiry (Optional) </span>
                        <div class="select" onclick="sld_unsld(10)">
                            <div class="placeholder">
                                <div class="placeholder_text"></div>
                                <div class="select_opener">
                                    <hr class="arr"><hr class="arr">
                                </div>
                            </div>
                            <div class="opt_enclose">
                            <div class="option" onclick="opt_select(0,10)">1</div>
                            <div class="option" onclick="opt_select(1,10)">2</div>
                            <div class="option" onclick="opt_select(2,10)">3</div>
                            <div class="option" onclick="opt_select(3,10)">4</div>
                            <div class="option" onclick="opt_select(4,10)">5</div>
                            </div>
                            <input type="text" class="select-input" value="" name="regExpiry">
                        </div>
                    </div>

                    <div class="form_inp form2">
                    
                        <div class="drive-type">
                            <h3>drive type: 4WD</h3>
                            <input type="checkbox" name="DriveWheel4">
                        </div>
                    
                        <div class="orcincluded">
                            <h2>Are on road costs included?</h2>
                            <div><input type="radio" name="RoadCost" value="1">Yes - the car will be sold with a current WoF, licensing (rego) and road user charges</div>
                            <div><input type="radio" name="RoadCost" value="0">No - the buyer may need to pay additional costs to legally drive the car on NZ roads</div>
                        </div>
                    
                        <div class="describecar">
                            <h2>Describe the car (optional)</h2>
                            <textarea name="tarea" id="t_area" rows="6" placeholder="E.g. condition and other information" name="Description"></textarea>
                        </div>
                        
                        <div class="file_upload">
                            <h2>Upload Interior</h2>
                                <div class="int_images">
                                <label for="car-front">Front
                                    <input type="file" name="interior" id="car_front" accept="image/*"/>
                                </label>
                            
                                <label for="car-middle">Middle
                                    <input type="file" name="interior" id="car_middle" accept="image/*"/>
                                </label>
                            
                                <label for="car-rear">Rear
                                    <input type="file" name="interior" id="car_rear" accept="image/*"/>
                                </label>
                                </div>
                                
                                <h2>Upload Exterior</h2>
                                <div class="ext_images">
                                <label for="">Exterior
                                    <input type="file" name="exterior" accept="image/*" multiple/>
                                </label>
                                </div>
                        </div>

                        <div class="rq360">
                            <input type="checkbox" name="photo360">
                            <h2>Request for 360 photography</h2>
                        </div>
                    
                        <div class="contact_details">
                            <div>Would you like to show your personal details</div>  
                            <div><input type="checkbox" name="authorEmail"><span>Email</span></div>
                            <div><input type="checkbox" name="authorPhone"><span>Phone Number</span></div>           
                        </div>
                    </div>
            
                    <div  class="sub-btn">
                        <button>Submit</button>
                    </div>
            </form>
        </div>
        </div>
    </div>
</body>
</html>